# Copiar a .env y ajustar valores

SECRET_KEY=cambiar-en-produccion
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASS=cambiar-en-produccion

JWT_EXPIRY_HOURS=24
CORS_ORIGINS=*

# MariaDB
DB_ROOT_PASS=rootpassword
DB_NAME=wgacl
DB_USER=wgacl
DB_PASS=cambiar-en-produccion

# AdGuard Home
ADGUARD_URL=http://192.168.1.1:3000
ADGUARD_USER=admin
ADGUARD_PASS=cambiar-en-produccion
